.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "mermaid";         
  src: url("./assets/font/Mermaid1001.ttf")
}

@font-face {
  font-family: "NotoSerifRegular";         
  src: url("./assets/font/NotoSerif-Regular.ttf")
}
@font-face {
  font-family: "NotoSerifKRRegular";         
  src: url("./assets/font/NotoSerifKR-Regular.otf")
}
@font-face {
  font-family: "PlayfairDisplayMedium";         
  src: url("./assets/font/PlayfairDisplay-Medium.ttf")
}
@font-face {
  font-family: "PlayfairDisplayRegular";         
  src: url("./assets/font/PlayfairDisplay-Regular.ttf")
}
@font-face {
  font-family: "PTSansRegular";         
  src: url("./assets/font/PTSans-Regular.ttf")
}
